.scrollable-body {
  height: 90vh;
  overflow: scroll;
}

.footer-container {
    background-color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    box-shadow: 1px 1px 10px 8px #bdbdbd;
    left: -1px;
    align-items: center;
    display: flex;
}
.close-button { 
    display: block;
    margin-top: -34%;
    margin-left: -50%;
    width: 200%;
}
.shape-circle {
    border-radius: 25px;
    width: 48px;
    height: 48px;
    margin: -58px auto 0px auto;
}