body {
  margin: 0;
  padding: 2vw;
  background-color: antiquewhite;
  height: 100vh;
}
h1 {
  border-bottom: 1px double #000;
  text-align: center;
}
button {
  width: fit-content;
  padding: 4px 8px;
  margin: 4px;
  background-color: darkgoldenrod;
  border-radius: 6px;
  border: 1px solid black;
}
button:hover {
  -webkit-box-shadow: 0 0 5px 2px #bdbdbd;
  -moz-box-shadow: 0 0 5px 2px #bdbdbd;
  box-shadow: 0 0 5px 2px #bdbdbd;
}
